@media screen and (max-width:700px) {
    ul li {
        float: none;
    }
    #about{
        float: left;
        width: 100%;
    }
    #barss{
        display: block;
    }
    
    
}
@media screen and (max-width:700px) {
    #dropDownContainer{
        position: static;
    }
    #dropDownContainer li a{
        background-color:rgb(76, 16, 133);
    }
    #dropDownContainer li a:hover{
        background-color: brown;

    }
    #drop{
        display: none;
    }
    #drop.try{
        display: block;
    }
}
