@media screen and (max-width:768px) {
    ul li ,#photos {
        float: none;
        
    }
    #menu{
        margin: 0;
    }
    #dropDownContain{
        position:static;

    }
    #menu{
        display: none;
    }
    #bars{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    #menu.try{
        display: block;
    }
   
}