*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    background-color: blue;
    overflow: hidden;
}
ul li{
    float: left;
}
li i{
    display: block;
    padding: 15px 20px;
    font-weight: 900;
    cursor: pointer;
    color: rgb(65, 239, 45);
}
li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 20px;
    font-weight: 800;
    text-transform: capitalize;
}
li a:hover{
    background-color: rgb(4, 4, 122);
}

#menu{
    margin-left: 25%;
}
#bars{
    float: right;
    display: none;
}
#photos{
    float:right;
}
#dropDownContain li{
    float: none;
    
}
#dropDownContain{
    position: absolute;
    display:  none;
}
#dropDown:hover #dropDownContain{
    display: block;
     
}
