*{
    padding: 0;
    margin: 0;
}
ul{
    background-color: blueviolet;
    overflow: hidden;
}
ul li {
    list-style-type: none;
    float: left;

}
ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
}
ul li a:hover{
    background-color: rgb(165, 92, 233);
}
#barss{
    float:right;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#about{
    float:right;
}



#dropDownContainer li{
    float: none;
}
#dropDownContainer{
    position: absolute;
    display: none;
}
#dropDown:hover #dropDownContainer{
    display: block;
}
