*{
    margin: 0;
}
nav {
    background-color: blue;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
#logo{
    color: white;
    font-size: 2.5vw;
    padding-top: 18px;
    padding-left: 10px;
}
#first{
    display: flex;
    justify-content: space-between;
}
.drop ul li{
    float: left;
    padding: 20px 30px;
    list-style-type: none;
    
}
.drop ul li a{
    color: white;
    text-decoration: none;
    font-size: 2vw;
}
#barss{
    font-size: 2.5vw;
    padding-top: 18px;
    padding-right: 30px;
    display: none;

}

#last {
    display: none;
}
#second{
    margin-right: 30px;
    font-weight: 900;
    
}
#container1{
    display: flex;
    padding: 30px 20px 10px 30px;
    justify-content: space-between;
}
#item1 button{
    margin-top: 10px;
    border: none;
    background-color: orange;
    padding: 7px 10px;
    border-radius: 10px;
}
#item1 button:hover~#phone{
    display: block;
}
#item1 h4{
    display:none;
}
#item1{
    min-width: 500px;
    max-width: 600px;
    max-height: 400px;
    overflow: hidden;
    margin: 30px;
    margin-top: 100px;
    margin-left: 150px;
    background-color: aqua;
}
#item2{
    margin-top: 200px;
    margin-right: 199px;
    
}
#item2 img{
    width: 900px;
}
#container2{
    display: flex;
    justify-content: space-between;
}
#item3{
    margin-top: -300px;
    margin-left: 70px;
}
#item4{
    margin-top: 100px;
    margin-right: 100px;
}
#container3{
    margin-top: 100px;
    margin-left: 300px;
}